/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a {
  color: black;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a {
  color: black;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: Poppins;
  font-weight: 500;
}

::-moz-selection {
  background-color: #0000ff;
  color: white;
}

::selection {
  background-color: #0000ff;
  color: white;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a {
  color: black;
}

.main-header {
  width: 100%;
  height: 7rem;
  padding: 0rem 4rem;
  border-bottom: 2px solid rgba(170, 170, 170, 0.2431372549);
}
.main-header .main-logo {
  width: 7rem;
}
.main-header .header-wrapper {
  color: black;
  font-size: 1.8rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .header-wrapper .left-nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.main-header .header-wrapper .left-nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.main-header .header-wrapper .left-nav .active {
  display: flex;
  align-items: center;
  color: #ff764d;
}
.main-header .header-wrapper .left-nav .active svg {
  width: 2.2rem;
}
.main-header .header-wrapper .right-nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-header .header-wrapper .right-nav .live {
  color: #0000ff;
}
.main-header .header-wrapper .right-nav .login-register {
  font-size: 1.6rem;
}

.secondary {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.756);
  width: 100%;
  padding: 2rem 4rem;
}
.secondary ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.secondary ul .active {
  color: #ff764d;
}

.menu {
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 1vw;
}
.menu i {
  font-size: 1rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a {
  color: black;
}

main {
  width: 100%;
  border-bottom: 2px solid rgba(170, 170, 170, 0.2431372549);
}
main .page-img {
  margin: 0vw 8vw 8vw 8vw;
  position: relative;
  width: 86vw;
  height: 40vw;
  min-height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
  background: center/cover no-repeat url(/img/header.png);
}
main h1.active {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(8rem, 10vw, 18rem);
  color: #ff472e;
  font-weight: 400;
  position: absolute;
}
main .page-text {
  margin: 0 auto;
  width: 50vw;
  margin-bottom: 8vw;
}
main .page-text h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
main .page-text p {
  font-size: 2rem;
  font-weight: 400;
}
main .page-text span {
  color: #0000ff;
  cursor: pointer;
}
main .page-collage {
  padding: 8vw 8vw;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5rem;
}
main .page-collage__background {
  position: relative;
  overflow-x: hidden;
  left: 21vw;
  width: 65vw;
  height: 55vw;
  margin: 0 auto;
  background-color: #fbffa7;
}
main .page-collage__img1 {
  position: absolute;
  margin-left: 50vw;
  width: 35vw;
  height: 25vw;
  background: center/cover no-repeat url(/img/photo-2.jpg);
}
main .page-collage__img2 {
  position: absolute;
  order: -1;
  background: center/cover no-repeat url(/img/photo-1.jpg);
  width: 42vw;
  height: 42vw;
}
main .page-video {
  margin: 0 auto;
  width: 50vw;
  margin-bottom: 9vw;
}
main .page-video iframe {
  width: 100%;
  height: 60vh;
  margin: 0 auto;
}
main .page-video p {
  padding: 1rem;
  font-size: 1.4rem;
}
main .page-collage__background-2 {
  position: relative;
  top: 0;
  left: -8vw;
  width: 60vw;
  height: 75vw;
  background-color: #b6ffc0;
}
main .page-collage .page-collage-container-left {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  position: absolute;
}
main .page-collage .page-collage-container-left .page-collage__img3 {
  width: 33vw;
  height: 25vw;
  background: no-repeat center/cover url(/img/photo-3.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}
main .page-collage .page-collage-container-left .page-collage__img4 {
  width: 33vw;
  height: 25vw;
  background: no-repeat center/cover url(/img/photo-4.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}
main .page-collage .page-collage__img5 {
  margin-left: 42vw;
  width: 41vw;
  height: 41vw;
  background: no-repeat center/cover url(/img/photo-5.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
main .page-media {
  margin: 0 8vw 8vw 8vw;
  width: auto;
}
main .page-collage__background-3 {
  left: 8vw;
  position: relative;
  background-color: #d5b3ff;
  width: 66vw;
  height: 58vw;
}
main .page-collage__img6 {
  background: no-repeat center/cover url(/img/photo-6-a.jpg);
  width: 33vw;
  height: 25vw;
  position: absolute;
}
main .page-collage__img7 {
  left: 50vw;
  background: no-repeat center/cover url(/img/photo-7.jpg);
  width: 41vw;
  height: 41vw;
  position: absolute;
}
main .page-join {
  padding: 0 8vw 8vw 8vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .page-join__img {
  overflow: hidden;
  width: 100%;
  height: 41vw;
  background: right/cover no-repeat url(/img/photo-8.jpg);
}
main .page-join__info {
  height: 41vw;
  font-size: 3rem;
  padding: 12vw 8vw;
  background-color: #b1c5ff;
}
main .page-join__info p {
  margin-bottom: 2rem;
}
main .page-join__info a {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #0000ff;
}
main .page-join__info a i {
  height: 4rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a {
  color: black;
}

footer {
  padding: 6vw 8vw;
  margin: 0 auto;
}
footer img[alt=ableton-wordmark] {
  width: 18rem;
  margin-bottom: 8rem;
}
footer .ft-main {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 2rem;
  gap: 5vw;
  margin-bottom: 7rem;
}
footer .ft-main *:not(h2) {
  font-weight: 400;
}
footer .ft-main__row {
  display: flex;
  gap: 3vw;
  justify-content: space-between;
}
footer .ft-main__row__item {
  display: flex;
  flex-direction: column;
  width: 30%;
}
footer .ft-main__row__item i {
  margin-right: 1rem;
  font-size: 4rem;
  cursor: pointer;
}
footer .ft-main__row__item .bi-facebook {
  color: #3c8aff;
}
footer .ft-main__row__item .bi-twitter {
  color: #5d9eff;
}
footer .ft-main__row__item .bi-youtube {
  color: #ff2323;
}
footer .ft-main__row__item .bi-instagram {
  color: #ff9a3c;
}
footer .ft-main__row__item h2 {
  font-size: 2rem;
  font-weight: 500;
}
footer .ft-main .ft-main__row__item__sign {
  display: flex;
  flex-direction: column;
  width: 40%;
}
footer .ft-main .ft-main__row__item__sign h2 {
  font-size: 2rem;
  font-weight: 500;
}
footer .ft-main .ft-main__row__item__sign p {
  margin-bottom: 2rem;
}
footer .ft-main .ft-main__row__item__sign .ft-main__row__item__button {
  display: flex;
}
footer .ft-main .ft-main__row__item__sign .ft-main__row__item__button input {
  width: 100%;
  flex: 1;
  background-color: #eee;
  border: none;
  padding: 0.5rem 1.5rem;
}
footer .ft-main .ft-main__row__item__sign .ft-main__row__item__button a {
  background-color: #0000ff;
  color: white;
  padding: 0.5rem 3rem;
}
footer .ft-main .ft-main__row__item__language {
  display: flex;
  flex-direction: column;
  width: 40%;
}
footer .ft-main .ft-main__row__item__language h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
footer .ft-main .ft-main__row__item__language .ft-main__row__item__select {
  display: flex;
  gap: 0.5rem;
}
footer .ft-main .ft-main__row__item__language .ft-main__row__item__select select:nth-child(1) {
  flex: 0;
}
footer .ft-main .ft-main__row__item__language .ft-main__row__item__select select {
  background-color: #eee;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1rem;
  flex-basis: 40%;
}
footer .ft-legal {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .ft-legal nav ul {
  display: flex;
  align-items: center;
  gap: 4vw;
}
footer .ft-legal .ft-legal__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .ft-legal .ft-legal__right img {
  width: 5rem;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 1.4rem;
  }
  .main-header > .header-wrapper > .left-nav,
  .main-header > .header-wrapper > .right-nav:not(.menu) {
    display: none;
  }
  .main-header > .header-wrapper {
    justify-content: start;
    gap: 2vw;
  }
  .menu {
    visibility: visible;
  }
  main .page-text {
    width: 68vw;
  }
  main .page-text h1 {
    font-size: 2rem;
  }
  main .page-text p {
    font-size: 1.6rem;
  }
  main .page-video {
    width: 68vw;
  }
  main .page-join {
    grid-template-columns: 1fr;
  }
  main .page-join__info {
    padding: 10vw 8vw;
    font-size: 2rem;
    height: auto;
  }
  footer img[alt=ableton-wordmark] {
    width: 13rem;
  }
  footer .ft-main .ft-main__row {
    flex-direction: column;
    gap: 8vw;
  }
  footer .ft-main .ft-main__row a,
  p {
    font-size: 1.8rem;
  }
  footer .ft-main__row__item {
    width: 100%;
  }
  footer .ft-main .ft-main__row__item__sign .ft-main__row__item__button input,
  button {
    width: 100%;
  }
  footer .ft-main .ft-main__row__item__sign {
    width: auto;
  }
  main .page-join {
    width: 105vw;
  }
  main .page-collage__background-2 {
    height: 75vh;
  }
}
@media screen and (max-width: 375px) {
  main .page-collage__background {
    height: 55vh;
  }
  main .page {
    width: 100vw;
  }
  main .page-text {
    width: 80vw;
  }
  main .page-text h1 {
    font-size: 1.7rem;
  }
  main .page-text p {
    font-size: 1.6rem;
  }
  main .page-video {
    width: 80vw;
  }
  main .page-video iframe {
    height: 40vh;
  }
  main .page-img {
    width: 84vw;
  }
  footer .ft-main .ft-main__row {
    gap: 12vw;
  }
  footer .ft-main {
    gap: 8vw;
  }
  main .page-collage__background-3 {
    height: 58vh;
  }
  main .page-collage__img6 {
    height: 25vh;
  }
  main .page-collage__img7 {
    height: 41vh;
  }
  main .page-collage .page-collage-container-left .page-collage__img3 {
    height: 20vh;
  }
  main .page-collage .page-collage-container-left .page-collage__img4 {
    height: 20vh;
  }
}/*# sourceMappingURL=style.css.map */